doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title=title 
  link(rel='icon' href=titleIcon)
  link(rel='stylesheet' href='articles.css')
  link(rel='stylesheet' href='articles-responsive.css')
  link(rel='stylesheet' href='styles.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous')
.container-fluid.background-opacity
  .container-fluid
    .row
      .col
        a(href='#')
          img(src='books-svg/linkedin.svg' alt='')
        a(href='#')
          img(src='books-svg/twitter.svg' alt='')
        a(href='#')
          img(src='books-svg/amazon.svg' alt='')
      .col.text-end.me-3.head
        a.calendar-icon-head.pe-3.text-decoration-none.text-white(href='#')
          img(src='books-svg/calendar.svg' alt='')
          |  Book For a Speaking Event
        a.mail-icon-head.text-decoration-none.text-white(href='#')
          img(src='books-svg/mail.svg' alt='')
          |  Email Kishan
    hr(style='color: white;')
  .container-fluid
    .row
      .col
        img.logo.w-50(src='https://chunkamui.com/wp-content/uploads/2021/07/CM-logo-1.png' alt='')
        #demo.offcanvas.offcanvas-end.w-50.h-50.mt-5.rounded
            .offcanvas-header
                button.btn-close(type='button' data-bs-dismiss='offcanvas')
            .offcanvas-body
                ul.list-group.text-center.border-none
                    li.list-group-item
                        a.text-decoration-none(href='/') HOME
                    li.list-group-item
                        a.text-decoration-none(href='/books') BOOKS
                    li.list-group-item
                        a.text-decoration-none(href='/about') ABOUT
                    li.list-group-item
                        a.text-decoration-none(href='/contact') CONTACT
                    li.list-group-item
                        a.text-decoration-none(href='/articles') ARTICLES
        .container-fluid.mt-3
        img#list-icon( src='svg/list.svg' alt='' data-bs-toggle='offcanvas' data-bs-target='#demo')
      .col.mt-4.menu
        a.me-3.text-white.text-decoration-none(href='/') HOME
        a.me-3.text-white.text-decoration-none(href='/books') BOOKS
        a.me-3.text-white.text-decoration-none(href='/about') ABOUT
        a.me-3.text-white.text-decoration-none(href='/contact') CONTACT
        a.me-3.text-white.text-decoration-none(href='/articles') ARTICLES
        button.btn.bg-primary.text-white FREE EXPERT
  .container.text-center.mt-5.pt-5.text-white
    h1.front-text #{frontTitle}
    .front-text-1
      a.text-decoration-none.text-white(href='#') Home 
      strong(style='color: rgb(210, 183, 26); font-size: 1.5rem;')  &gt; 
      a.text-decoration-none.text-white(href='#')  Articles
.container-fluid.mt-5.pt-5.bg-light.pb-5
  strong
    p.fs-5.text-warning #{AuthorName}
  strong
    h1.fs-1 #{section1Heading}
  hr(style='width: 15vw; border-top: 5px solid black;')
  br
  p.fs-5
    | #{section1Content}
  .row.mb-5.pt-4.sec-1-row
    .col.shadow-lg.mx-2.pb-5
      img.col-img.w-100(src=section1Card1Img alt='')
      p.fs-4
        | #{section1Card1Title}
      p.fs-6
        | #{section1Card1SubTitle}
      a.bg-primary.w-25.text-light.p-2.rounded.text-decoration-none(href='#') #{section1CardButton}
    .col.shadow-lg.mx-2.pb-5
      img.col-img.w-100(src=section1Card2Img alt='')
      p.fs-4
        | #{section1Card2Title}
      p.fs-6
        | #{section1Card2SubTitle}
      a.bg-primary.w-25.text-light.p-2.rounded.text-decoration-none(href='#') #{section1CardButton}
    .col.shadow-lg.mx-2.pb-5
      img.col-img.w-100(src=section1Card3Img alt='')
      p.fs-4
        | #{section1Card3Title}
      p.fs-6
        | #{section1Card3SubTitle}
      a.bg-primary.w-25.text-light.p-2.rounded.text-decoration-none(href='#') #{section1CardButton}
  .row.pb-5.sec-1-row
    .col.shadow-lg.mx-2.pb-5
      img.col-img.w-100(src=section1Card4Img alt='')
      p.fs-4
        | #{section1Card4Title}
      p.fs-6
        | #{section1Card4SubTitle}
      a.bg-primary.w-25.text-light.p-2.rounded.text-decoration-none(href='#') #{section1CardButton}
    .col.shadow-lg.mx-2.pb-5
      img.col-img.w-100(src=section1Card5Img alt='')
      p.fs-4
        | #{section1Card5Title}
      p.fs-6
        | #{section1Card5SubTitle}
      a.bg-primary.w-25.text-light.p-2.rounded.text-decoration-none(href='#') #{section1CardButton}
    .col.shadow-lg.mx-2.pb-5
      img.col-img.w-100(src=section1Card6Img alt='')
      p.fs-4
        | #{section1Card6Title}
      p.fs-6
        | #{section1Card6SubTitle}
      a.bg-primary.w-25.text-light.p-2.rounded.text-decoration-none(href='#') #{section1CardButton}
  h1.mb-0(style='border-bottom: 5px solid rgb(127, 131, 104);width: fit-content;') #{section1FooterText}
.container0-fluid.text-center.SignUp
  h2.fs-3.text-light.pt-5 #{section2Heading}
  .container.mt-5.pb-5
    form
      .form-floating.mb-3
        input#floatingName.form-control(type='text' placeholder='Name')
        label(for='floatingPassword') Name
      .form-floating
        input#floatingEmail.form-control(type='email' placeholder='name@example.com')
        label(for='floatingInput') Email address
      button.btn.bg-primary.text-light.w-75.mt-4(type='submit') SIGN UP
.container-fluid.footer-bg
    .row
        .col.mt-5.ms-4
            img.footer-img(src=logo alt='')
            br
            p.text-white.ms-4.mt-4 #{AuthorTitle}
            br
            div
                img.ms-4(src='books-svg/linkedin.svg' alt='')
                img.ms-3(src='books-svg/twitter.svg' alt='')
                img.ms-3(src='books-svg/amazon.svg' alt='')
        .col.mt-5.ms-4
            h3.text-warning Quick Links
            div
                a.text-decoration-none.text-white(href='/') HOME
                br
                br
                a.text-decoration-none.text-white(href='/books') BOOK
                br
                br
                a.text-decoration-none.text-white(href='/about') ABOUT
                br
                br
                a.text-decoration-none.text-white(href='/contact') CONTACT
                br
                br
                a.text-decoration-none.text-white(href='/articles') ARTICLES
        .col.mt-5.ms-4
            h3.text-warning Contact
            div
                a.text-decoration-none.text-white(href='#') Sign Up
                br
                br
                a.text-decoration-none.text-white(href='#')
                    img(src='books-svg/mail.svg' alt='')
                    |  Email #{AuthorName}
                br
                br
                a.text-decoration-none.text-white(href='#')
                    img(src='books-svg/calendar.svg' alt='')
                    |  Book For a Speaking Event
    hr(style='color: white;')
    p.text-white.pb-4 #{AuthorName} Copyright &copy; 2024
